<header class="pv3 bb b--black-10">
  <div class="w-80 center flex justify-between items-center">
    <h1 class="mv0 normal f3 lh-copy black-90">Replication Foundation <span class="f5 black-60">v{{ site.data.package.version }}</span></h1>

    <ul class="list mv0 pl0 flex">
      <li class="dn dib-ns"><a class="no-underline color-inherit dim" href="https://twitter.com/intent/tweet?text=Replication Foundation%20-%20Decentralized%20autonomous%20funding%20for%20replication%20studies%20%40replicationfdn%20https://replication.foundation" target="_blank">Tweet</a></li>
      <li class="ml4"><a class="no-underline color-inherit dim" href="https://github.com/replicationfoundation/replicationfoundation" target="_blank">GitHub</a></li>
    </ul>
  </div>
</header>
