<div class="w-100 mv3  black-70">
          <section class="cf w-80 center pv3 pv5-ns" id="how">
            <div class=" center">
              <h1 class="mt5 tc f5 ttu tracked fw6">How can I help?</h1>
              <article class="tc pv2 fl w-100 ">
                <p class="f5 f4-ns mt0">
                  Become a member of our community and contribute ideas and comments
                </p>
                <p>  <a
    class="button white bg-accent dim br2"
    href="https://github.com/ReplicationFoundation/ReplicationFoundation/issues/1">
    Contribute
  </a></p>

              </article>

            </div>
          </section>

      </section>
      </div>