<div class="w-100 mv3 bt b--black-10 bg-lightest-blue black-70">
          <section class="cf w-80 center pv3 pv5-ns" id="how">
            <div class=" center">
              <h1 class="fl mt5 f5 ttu tracked fw6">How</h1>
              <article class="pv2 fl w-100 ">
                <h2 class="f4 f1-ns fw6 mb2">Decentralized autonomous organization</h2>
                <p class="f5 f4-ns measure lh-copy mt0">
                  The Ethereum project <a href="https://ethereum.org/dao" class="black dim" title="Tachyons components">has pioneered decentralized autonomous organizations (DAO)</a> that are a way to democratize, automate and stabilize crowd-based projects.
                </p>
              </article>
              <div class="cf">
                <article class="pv2 fl w-100 w-50-l pr0 ">
                  <h2 class="f4 f2-ns fw6 mb2">Ethereum</h2>
                  <p class="f5 measure lh-copy mt0">
                    Ethereum is a  decentralized platform that runs smart contracts: applications that run exactly as programmed without any possibility of downtime, censorship, fraud or third party interference.
                  </p>
                </article>
                <article class="pv2 fl w-100 w-50-l pl0 pl2-l">
                  <h2 class="f4 f2-ns fw6 mb2">Crowdsale</h2>
                  <p class="f5 measure lh-copy mt0">
                    <a href="https://www.ethereum.org/crowdsale">Crowdsale</a> is a way to raise funds that the DAO can operate with. It's usually a month-long process where tokens are issued in exchange for Ether. When the sale deadline ends, or when enough funds have been raised, Ether is transferred to the DAO and it starts accepting proposals and votes.
                  </p>
                </article>
              </div>
              <div class="cf">
                <article class="pv2 fl w-100 w-50-l pr0 pr2-l">
                  <h2 class="f4 f2-ns fw6 mb2">DAO</h2>
                  <p class="f5 measure lh-copy mt0">A
                    <a href="https://en.wikipedia.org/wiki/Decentralized_autonomous_organization">decentralized autonomous organization (DAO)</a> is an organization that is run through rules encoded as computer programs called smart contracts. A DAO's financial transaction record and program rules are maintained on a blockchain.
                  </p>
                </article>
                <article class="pv2 fl w-100 w-50-l pl0 pl2-l">
                  <h2 class="f4 f2-ns fw6 mb2">Proposals And Voting</h2>
                  <p class="f5 measure lh-copy mt0">
                    As soon as the DAO is operational, it can start accepting proposals for replication studies and funding. Token holders can then vote on these proposals and if quorom is reached in a certain time period, the funding is transferred to the proposal's author.
                  </p>
                </article>
              </div>

            </div>
          </section>

      </section>
      </div>