<!-- w-80 center pv5 -->
<div class="w-100 mt6 bt b--black-10">
  <div class="w-80 center pv3 pv5-ns" id="principles">
  <div class="mw9 center">
    <h1 class="f5 ttu tracked fw6">Why</h1>
    <section class="lh-copy">
      <div class="cf">
        <article class="fl pv2 w-100 w-third-l pr4-l">
          <h2 class="f5 f4-ns fw6 mb0">Replication Crisis</h2>
          <p class="f6 f5-ns measure lh-copy mt0">
            Only a small percentage of published research gets an attempt at replication, and of those that do, a <a href="https://en.wikipedia.org/wiki/Replication_crisis">worryingly small fraction can be successfuly replicated</a>. We need to do whatever we can to support replications.
          </p>
        </article>
        <article class="pv2 fl w-100 w-third-l ph3-l">
          <h2 class="f5 f4-ns fw6 mb0">Search of Truth</h2>
          <p class="f6 f5-ns measure lh-copy mt0">
            The tower of knowledge is built by science, block by block, paper by paper. As we climb this tower and build higher, it is essental that all of its building blocks are sturdy. Else, <a href="http://www.nature.com/news/replication-studies-bad-copy-1.10634">the tower might fall, and take us down with it</a>.
          </p>
        </article>
        <article class="pv2 fl w-100 w-third-l pl4-l">
          <h2 class="f5 f4-ns  fw6 mb0">
            Lack of Funding
          </h2>
          <p class="f6 f5-ns measure lh-copy mt0">
            It is difficult to get research funded, but it is even more difficult to get funding for replication studies. <a href="https://blog.scienceexchange.com/2016/07/the-importance-of-replication-studies/">Funders want exciting exploratory research that gets published in high-profile journals.</a> Without solid ground, though, exploratory research is very volatile.
          </p>
        </article>
      </div>
    </section>
  </div>
</div>
</div>